#dice-title {
  font-size: 40px;
}

#roller-window {
  display: flex;
}

#roller-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roller-wrapper {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#roll-form {
  display: flex;
  flex-direction: column;
}

#roller-control-panel {
  width: 200px;
  height: 100%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 89, 50, 0.466);
  color: white;
  cursor: pointer;
  margin: 7px 0 6px 0;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  text-align: center;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
}

input[type="radio"] + label:hover {
  transform: scale(1.05);
  background-color: rgba(215, 131, 79, 0.466);
}

input[type="radio"]:checked + label {
  background-color: rgba(255, 155, 93, 0.621);
}

#optional-info {
  resize: none;
}

#view-rolls-button, #logout-button {
  width: 100%;
  height: 50px;
  background-color: rgba(73, 56, 167, 0.599);
  font-size: 18px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  border-style: none;
}

#view-rolls-button:hover, #logout-button:hover {
  background-color: rgba(81, 93, 192, 0.734);
  transform: scale(1.05);
}

#view-rolls-button a, #logout-button a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#roll-button {
  margin-top: 12px;
  color: white;
  width: 100%;
  height: 50px;
  background-color: rgba(114, 207, 55, 0.466);
  font-size: 18px;
  display: block;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

#roll-button:hover {
  transform: scale(1.05);
  background-color: rgba(149, 255, 83, 0.466);
}

#roll-result-container {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#results-background {
  width: 600px;
  height: fit-content;
  background-color: rgba(114, 207, 55, 0.466);
  animation: fade-in 0.3s ease-in;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
}

#roll-result {
  font-size: 50px;
}

#logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
}

.roll-result-info {
  font-size: 22px;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
